#help.well
  %h4 Introduction
  %p.intro Given a few details about a symptom presentation, this demo searches through a database of a few hundred Traditional Chinese Medicine herbal prescriptions and attempts to suggest relevant formulas.

  %h4 Searching the Database
  %p Try various combinations of key words; there's no need to fill in every box. To get more information about a formula (including which search terms were matched) just hover the cursor over the formula's name.  Clicking on the name will open a separate window with the formula's entry at <a href="http://www.rootdown.us/index.aspx">rootdown.us</a>. 

  %h4 Example Searches
  %p These links show some ways to use the different search fields.
  %ul
    %li
      <a href='/?symptoms=irritability%2C+gastritis%2C+irregular+menstruation&amp;pulse=wiry%2C+fine&amp;tongue=dusky&amp;diagnosis='>Liver Qi constraint with Blood Xu</a>
    %li
      <a href='?symptoms=high+fever%2C+sore+throat%2C+sweating&amp;pulse=rapid%2C+floating&amp;tongue=red+body+with+yellow+coat'>Wind Heat</a>
    %li
      <a href='/?symptoms=low+back+soreness%2C+cold+feet&amp;pulse=weak&amp;tongue=swollen%2C+enlarged%2C+toothmarks&amp;diagnosis=Kidney+yang+deficiency'>Kidney Yang Deficiency</a>

  %h4 Disclaimer
  %p.disclaimer This demo app is no substitute for consultation with a skilled practitioner but hopefully is of interest as a study tool or a way to notice some unsuspected connections between symptoms and formulas.